<!DOCTYPE html>
<html lang="<%= dato.site.locales.first %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield_content :head %>
    <% if build? %>
      <%= stylesheet_link_tag :all %>
    <% end %>
    <%= dato_favicon_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="container__sidebar">
        <div class="sidebar">
          <div class="sidebar__title">
<!--             <a href="/"></a> -->
            <a href="/"><span class="title"><%= dato.site.global_seo.site_name %></span><img src="<%= dato.home.logo.url(w: 25, fm: 'jpg', q: 100) %>" /></a>
          </div>

          <ul class="sidebar__menu">
            <li class="<%= current_page.path === 'index.html' ? 'is-active' : '' %>">
              <a href="/">Home</a>
            </li>
            <li class="<%= current_page.path === 'about.html' ? 'is-active' : '' %>">
              <a href="/about">About</a>
            </li>
          </ul>
          <div class="sidebar__copyright">
            <%= dato.home.copyright %>
          </div>
        </div>
      </div>
      <div class="container__body">
        <div class="container__mobile-header">
          <div class="mobile-header">
            <div class="mobile-header__menu">
              <a href="#" data-js="toggleSidebar"></a>
            </div>
            <div class="mobile-header__logo">
              <a href="/index.html">
                <%= dato.site.global_seo.site_name %>
              </a>
            </div>
          </div>
        </div>
        <div class="video">
          <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/472555930?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "all" %>
  </body>
</html>
